#menu-id {
    min-height: 400px;
}

/* .top-header-wrapper {

} */

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}
  
#footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    font-size: 12px;
}


br { clear:left }

#nav-menu {
    width: 100%;
    background-color: wheat;
}

#nav-menu ul {
    margin: 0; padding: 0;
    float: left;
    
}

#nav-menu ul li {
    display: inline;
    
}

#nav-menu ul li a {
    float: left; text-decoration: none;
    color: black; 
    padding: 10.5px 11px;
    background-color:  wheat;
    
}
 
#nav-menu ul li a:visited {
    color: black;
    
}
 
#nav-menu ul li a:hover, #nav-menu ul li .current {
    color: white;
    background-color: wheat;
    
}

.eth-balance {
    font-size: 14px;
    color: black;
    text-align: right;
    display: block;
    padding: 11px 11px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }